<div class="head-about">
	<div class="logo-about">
		<%= link_to image_tag("logo"), {controller: 'welcome'} %>
		<h3 class="text-center about" style="color: white">Contact Us</h3>
	</div>
</div>

<div class="container">
</div>