<div class="container">
    
         <h3 class="text-center">About Us</h3>

       <div class="outter-form col-md-5">
       <div class="text-center foto">
             <%= link_to image_tag("asd", width: 300), :class => "img-rounded" %> 
       </div>
       <br>
       <br>
          <div class="table-responsive">

            <table class="table table-striped">
            
            <tbody>

            <tr>
              <td class="text-center"><strong>Rizki Fauzi Ramdan</strong></td>
              
            </tr>

            <tr class="info">
              <td class="text-center">Front End Developer</td>
             
            </tr>
            
            </tbody>
           </table>

          </div>

       </div>

       <div class="outter-form col-md-5 col-md-offset-2">
       </div>

       </div>
</div>