*{
	margin:0px; padding:0px; font-family: Copperplate, Copperplate Gothic Light, fantasy;
}
.wrapper{
	width: 100%;
	height: auto;
}
nav{
	width: 100%;
	height: 100px;
	background-color: red;
}
nav ul{
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul li{
	float: left;
}
nav ul li a{
	display: block;
	padding: 15px;
	color: white;
	text-decoration: none;
}
.head{
	margin-top: -29px;
	width: 100%;
	height:90px;
	float: left;
	background:rgba(50, 50, 50, 0.2);
}
header{
	margin:0px 0px 0px 0px;
	width: 100%;
	height: 804px;
	background:#1E8BC3;
}
.orang{
	width: 700px;
	top: 264px;
	left: 50%;
	margin-left: -350px;
	position:absolute;
}
.nav1{
	top: 50%;
	left: 50%;
	margin-left: -400px;
	position: absolute;
}
.nav2{
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -200px;
	position: absolute;
}
.nav3{
	top: 50%;
	left: 50%;
	margin-left: 150px;
	margin-top: -200px;
	position: absolute;
}
.nav4{
	top: 50%;
	left: 50%;
	margin-left: 300px;
	position: absolute;
}
.nav1:hover img{
	width: 120px;
}
.nav2:hover img{
	width: 120px;
}
.nav3:hover img{
	width: 120px;
}
.nav4:hover img{
	width: 120px;
}
.logo img{
	position: relative;
	width: 150px;
	margin-top: 15px;
	margin-left: -75px;
	left: 50%;
}
#form{
	display: inline-block;
	margin-top: 30px;
	margin-left: 380px;
	position: absolute;
}
.username{
	padding:6px 15px;
    background:rgba(208, 209, 207, 0.5);
    border:2px solid #D0D1CF;
    border-radius: 5px;
}
.pass{
	padding:6px 15px;
    background:rgba(208, 209, 207, 0.5);
    border:2px solid #D0D1CF;
    border-radius: 5px;
}
.login{
	position:relative;
    padding:6px 15px;
    left:0px;
    border:2px solid #E8473D;
    background-color:#E8473D;
    color:#fafafa;
    border-radius: 5px;
}
.navbar-link{
	position:relative;
    padding:6px 15px;
    left:0px;
    border:2px solid #E8473D;
    background-color:#E8473D;
    color:#fafafa;
    border-radius: 5px;
}
.navbar-link:hover{
	text-decoration: none;
	color: white;
	background-color:#F9473D;
}
.alert{
	position: absolute;
}
*{
	margin: 0px; padding: 0px;
}
.header-page{
	background:#1E8BC3;
	padding:10px;
}
.header-page a.logo{
	font-size:200%;
	
}
.body-page{
	background:#ecf0f1;
	min-height:685px;
	padding:10px;
}
.footer{
	background:#1E8BC3;
	padding:10px;
	color:#ccc;
	text-align: center;
}
nav{
	width: 100%;
	height: auto;
}
nav ul{
	list-style: none;
	position: relative;
	display: inline-table;
	float: left;
}
nav ul li{
	float: left;
}
nav ul li a{
	display: block;
	padding: 15px;
	color: white;
	text-decoration: none;
}
.navbar-brand{
	margin-top: -15px;
}
.search{
	padding:4px 15px;
    background:rgba(255, 255, 255, 0.7);
    border:2px solid #D0D1CF;
    border-radius: 5px;
    margin-top:25px;
    margin-left: 79%;
}
.navbar-right{
	
}
.nav-pills{
	float: left;
	margin-left: 50px;
	margin-top: 5px;
}
.navbar-logo{
	width: 120px;
}
a{
	color: white;
}
.alert-success{
	margin-left: 680px;
	margin-top: 100px;
}
.alert-danger{
	margin-left: 680px;
	margin-top: 100px;
}
.pull-right{
	color: white;
}
.nim, td{
	color: black;
}
.excel{
    margin-left: 15px;
}
.form{
	position: relative;
}
.form-new{
	margin-top: 10%;
}
.outter-form{
     padding: 20px;
     background: white;
     position: relative;
     border-radius: 5px;
}
.foto{

}
.mulai{
	margin-top: 5%;
}
.logo-daftar{
	position: absolute;
    top: -50px;
    left: 190px;
}
.outter-form-signup{
	margin-top: -100px;
	padding: 20px;
    background: white;
    position: relative;
    border-radius: 5px;
}
.unhappy{
	float: left;
}
.soal{
	margin-top: 5%;
}
.newanswer{
	float: left;
	margin-left: 15px;
}
.backanswer{
	margin-left: 5px;
}
.show-hasil{
	margin-top: 50px;
	min-height:535px;

}
.back-show{
	margin-top: 20px;
}
.judul-article a{
	color: black;
	text-decoration: none;
}
.judul-article a:hover{
	color: #428bca;
	text-decoration: none;
}
.isi-article {
	color: black;
}
.postingan-saya a{
	color: black;
	text-decoration: none;
}
.comments{
	padding: 10px;
    background: white;
    position: relative;
    border-radius: 5px;
    margin-top: 10px;
}
.tambah-informasi{
	min-height: 390px;
}